[submodule "deps/STM32CubeF4"]
	path = deps/STM32CubeF4
	url = https://github.com/STMicroelectronics/STM32CubeF4.git
[submodule "deps/quatro3d"]
	path = deps/quatro3d
	url = git@github.com:RohanVDvivedi/Quatro3D.git
